.bg-dark{
    background-color: black !important;
}
.side_bar{
    // transform: translateX(-100px);
    z-index: 100;
    display: inline-flex;
    left: -115.162px ;
    position: relative;
    width: 115.162px;
    height: calc(100vh - 72px);
    // background-color: #1e1f22;
    background: rgb(0,0,0);
    transition: left ease-in-out 0.4s;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,17,19,1) 21%, rgba(30,31,34,1) 36%);
    
}
// .tool_bar:hover .side_bar{
//     left: 0;
// }


.side_bar .nav .nav-item .nav-link  {
  color: rgba(255,255,255,.5);
}
// .side_bar .nav .nav-item .nav-link:hover{
//  color: rgba(255,255,255,255);
//  background-color: #404144 ;
// }
.nav_link_enter{
 color: rgba(255,255,255,255) !important;
 background-color: #404144 ;
}

.main_app{
    width: 100%;
    height: calc(100vh - 72px);
}
.adjust_bar{
    // z-index: 1;
    position: absolute;
    left: -20rem;
    width: 20rem;
    height: calc(100vh - 72px);
    background-color: #404144;
    transition: left ease-in-out 0.7s ;
}
.nav-link:hover .adjust_bar{
    left:5rem;
}
.adjust_bar_hover{
    left:115.162px;
}
.side_bar_toggle{
    left: 0;
}
.grayscale{
    filter: grayscale(1);
}
.container > div > canvas {
      z-index: -100;
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
              
}
